/* Coolors Exported Palette - coolors.co/ddb786-79addc-ffee93-fcf5c7-adf7b6 */

/* HSL */
$color1: hsla(34%, 56%, 70%, 1);
$color2: hsla(208%, 59%, 67%, 1);
$color3: hsla(51%, 100%, 79%, 1);
$color4: hsla(52%, 90%, 88%, 1);
$color5: hsla(127%, 82%, 82%, 1);

/* RGB */
$color1: rgba(221, 183, 134, 1);
$color2: rgba(121, 173, 220, 1);
$color3: rgba(255, 238, 147, 1);
$color4: rgba(252, 245, 199, 1);
$color5: rgba(173, 247, 182, 1);